body{
    margin:0;
    --padding:2rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container{
    height: 100vh;
    display:grid;
    grid-template: 1fr 4fr/ 1fr 5fr;
}

.sidebar{
    background-color: blue;
    grid-row:span 2;
    padding:var(--padding) 0 0 var(--padding);
    color:white;
}


.sidebar svg{
    height:1rem;
    width:1rem;
}

.sidebar svg path{
    fill:white;
}

.header{
    padding:var(--padding) var(--padding) 0 var(--padding);

}

.main-content{
    background-color: lightgray;
    padding: 0 var(--padding) 0 0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  