body{
    margin:0;
    --black:#0a0a0a;
    --white:#fafafa;
    --primary:#3730a3;
    --secondary:#f59e0b;
    --gray:#d6d3d1;
    --padding:2rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

svg{
    height:1.5rem;
    width:1.5rem;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
    padding:0;
    padding-bottom:2rem;
}

a{
    text-decoration: none;
    color:inherit;
}

button{
    background-color: var(--primary);
    color:var(--white);
    font-family: inherit;
    font-weight:600;
    font-size: inherit;
    padding: 0.7rem 2.5rem;
    border-radius: 1rem;
}

.container{
    height: 100vh;
    display:grid;
    grid-template: 1fr 4fr/ 1fr 5fr;
}

.sidebar{
    background-color: var(--primary);
    grid-row:span 2;
    padding:var(--padding) 0 0 var(--padding);
    color:var(--white);
    font-weight: 500;
}

.sidebar h1{
    display:inline;
}

.sidebar > *{
    margin-bottom:4rem;
}

.sidebar ul{
    font-size:1.3rem;
}

.sidebar p{
    display: inline;
}

.sidebar svg{
    padding-right: 1.2rem;
}

.sidebar svg path{
    fill:var(--white);
}

.header{
    padding:var(--padding) var(--padding) 0 var(--padding);
    display: grid;
    grid-template: 1fr 1fr / 1.2fr 1fr;
}

.header > *{
    display:flex;
    align-items: center;
    gap:30px;
}

.profile_picture{
    background-image: url("images/profile_picture.jpg");
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.search-bar{
    height:min-content;
}

.account{
    justify-self: end;
    justify-content: center;
    height:min-content;
}



.greetings > .profile_picture{
    height:80px;
    width:80px;
}

.greetings h2, .greetings p{
    margin: 0.5rem 0;
}

.posting-actions{
    justify-content: center;
    justify-self: end;
}

.main-content{
    background-color: var(--gray);
    padding: 0 var(--padding) 0 0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  