body{
    margin:0;
    --padding:2rem;
}

.container{
    height: 100vh;
    display:grid;
    grid-template: 1fr 4fr/ 1fr 5fr;
}

.sidebar{
    background-color: blue;
    grid-row:span 2;
    padding:var(--padding) 0 0 var(--padding);
}

.header{
    padding:var(--padding) var(--padding) 0 var(--padding);

}

.main-content{
    background-color: lightgray;
    padding: 0 var(--padding) 0 0;
}